---
layout: default
title: Categories - Blog
type: blog
---

<div class="row">
<a class="button btn-primary" href="/blog/index.html">By Year</a>
</div>

<section class="inner">
<div id='tag_cloud'>
{% assign sorted_cats = (site.categories | sort) %}
{% for cat in sorted_cats %}
<a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})&nbsp;&nbsp;</a>
{% endfor %}
</div>

<ul class="listing">
{% for cat in sorted_cats %}
  <li class="listing-seperator" id="{{ cat[0] }}">{{ cat[0] }}</li>
{% for post in cat[1] %}
  <li class="listing-item">
  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <ul class="tagsforlist">
        {% for tag in post.tags %}
        <li><div class="tag">{{ tag }}</div></li>
        {% endfor %}
      </ul>
  </li>
{% endfor %}
{% endfor %}
</ul>
</section>

<script src="/media/js/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script> 
<script language="javascript">
    $.fn.tagcloud.defaults = {
        size: {start: 1, end: 1, unit: 'em'},
        color: {start: '#71AFCB', end: '#1863A1'}
    };

    $(function () {
        $('#tag_cloud a').tagcloud();
    });
</script>
