<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="sOBHuBNj7Igq5XR4btoazJqgeYvNu-SMrJCDchvHNnM" />
  <meta name="msvalidate.01" content="89CFDC701B2E8476CF0D0070BC0F4CF1" />
  <!-- <meta name="baidu-site-verification" content="UQvkeXQBgq" /> -->
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="3; url=/" />
  {% endif %}
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - NathanLVZS
    {% endif %}
  </title>
  <link rel="stylesheet" href="../css/site.css">
  <!-- <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 标题栏图标-->
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/atom+xml" title="RSS Feed for NathanLVZS's blog" href="/feed.xml" />

  {% if page.url == '/index.html' %}
    <link rel="alternate" hreflang="ch" href="/cn/" />
  {% elsif page.url == '/cn/index.html' %}
    <link rel="alternate" hreflang="en" href="/" />
  {% endif %}

  {{ page.extra_head }}

  {% if page.category == 'blog' %}
    {% if page.photo %}
      <meta property="og:image" content="/images/posts/{{ page.photo }}" />
    {% endif %}
  {% endif %}

  <script type="text/javascript" src="{{site.url}}/js/jquery.min.js"></script>
</head>
<body>
  
  <div class="top-bar">
  </div>

  <div class="header-container">
    <header class="inner">
      {% if page.url == '/cn/index.html' %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/cn/">首页</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">项目</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
        <a href="/resume/">简历</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
        <a href="/books/">阅读</a>
        <a href="{{ site.github }}">Github</a>
      </nav>
      {% else %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">Home</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">Project</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
		    <a href="/resume/">Resume</a>
    		<a href="/books/">Books</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
        <a href="{{ site.github }}">Github</a>
      </nav>
      {% endif %}
      
      <div class="pull-right right logo">
        <div class="name">
          <a href="/">NathanLVZS</a><br />
          <small>
            <em>
              {% if page.url == '/cn/index.html' %}
                <a href="/cn">make believe</a>
              {% else %}
                <a href="/">make believe</a>
              {% endif %}
            </em>
          </small>
        </div>
        <img class="avatar" src="/images/puppy.jpg" alt="avatar" />
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}
  <div class="separator"></div>

  <div  style="border-bottom: 1px solid #ddd"></div>
    <footer>
    <!-- <p class="linkings">
        Useful links: 
    </p> -->
    <p>
      Powered by <a href="http://jekyllrb.com/">Jekyll</a> | Hosted at <a href="https://github.com">Github</a> | Copyright © 2015 - {{ site.author.name }}
    </p>
    <!-- </p>
      <a href="http://www.easycounter.com/">
      <img src="http://www.easycounter.com/counter.php?nathanlvzs" border="0" alt="Free Hit Counter"></a> since April 2015.
    </p> -->
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40867989-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    /*!
     * http://github.com/ssaunier/track-outbound-links
     * Copyright 2013 Sébastien Saunier
     * @license MIT
     */
    !function(e,t){function n(){for(var n=t.getElementsByTagName("a"),a=[],r=0;r<n.length;++r){var o=n[r];o.host!=e.location.host&&a.push(o)}return a}function a(n){for(var a=n.srcElement||n.target;a&&("undefined"==typeof a.tagName||"a"!=a.tagName.toLowerCase()||!a.href);)a=a.parentNode;a&&a.href&&(e._gaq&&_gaq.push(["_trackEvent","Outbound link","Click",a.href]),(!a.target||a.target.match(/^_(self|parent|top)$/i))&&(setTimeout(function(){t.location.href=a.href},150),n.preventDefault?n.preventDefault():n.returnValue=!1))}e.addEventListener("load",function(){var e=n();for(var t in e)e[t].addEventListener("click",a)})}(window,document);
    var links = document.links;
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
       if (links[i].hostname != window.location.hostname) { links[i].target = '_blank'; }
    }

    /*
     * Detect if we are included in an iframe => move.
     */
    if (window.top !== window.self
        && !window.self.location.href.match(/headsha\.re/))
    {
      window.top.location.replace(window.self.location.href);
    }
  </script>

  <!--
  <script id="_webengage_script_tag" type="text/javascript">
    // var _weq = _weq || {};
    // _weq['webengage.licenseCode'] = '11b563c38';
    // _weq['webengage.widgetVersion'] = "4.0";

    // (function(d){
    //   var _we = d.createElement('script');
    //   _we.type = 'text/javascript';
    //   _we.async = true;
    //   _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    //   var _sNode = d.getElementById('_webengage_script_tag');
    //   _sNode.parentNode.insertBefore(_we, _sNode);
    // })(document);
  </script>
  -->

</body>
</html>
