---
layout: default
---

<!--添加侧边菜单-->
<link rel="stylesheet" href="{{site.url}}/media/css/side-menu.css" />
 <style>
        .side-menu {
            width: 200px;
            top: 140px;
            left: 30px;
        }
 </style>
<script type="text/javascript" src="{{site.url}}/media/js/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/media/js/jquery.side.menu.js"></script>
<script>
$(function () {
            $('#main').sideMenu({
                hs: ['h2']
            });
            var winWidth = $(document).width();
            $('.side-menu').css('text-align', 'left');
            if(winWidth < 1200){
              $('.side-menu').css('display', 'none');
            }
            else{
              if(winWidth > 1400){
                $('.side-menu').css('left', winWidth/14);
              }
            }
        });
</script>

<article>
  
  <div id="main" class="span9">
  <div class="post">
    {{ content }}
  </div>
</article>


