---
layout: default
---

<!--添加侧边菜单-->
<link rel="stylesheet" href="/media/css/side-menu.css" />
 <style>
        .side-menu {
            width: 200px;
            top: 140px;
            left: 30px;
        }
 </style>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.side.menu.js"></script>
<script>
$(function () {
            $('#main').sideMenu({
                hs: ['h2', 'h3']
            });
            $('.side-menu').css('text-align', 'left');
            var winWidth = $(document).width();
            if(winWidth < 1200){
              $('.side-menu').css('display', 'none');
            }
            else{
              if(winWidth > 1400){
                $('.side-menu').css('left', winWidth/14);
              }
            }
        });
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } },
  tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% if page.photo %}
<div class="post-photo" style="background-image: url('/media/images/posts/{{ page.photo }}')">

</div>
{% endif %}

<article>
  <h1 class="inner">
    {{ page.title }}
  </h1>

  <p class="meta">{{ site.author.name }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ page.date | date: "%A %-d %B %Y" }}</p>
  
  <!-- <div id="menu"></div> -->
  <div id="main" class="span9">
  <div class="post">
    {{ content }}
  </div>
  <p></p>
  <div class="prev_and_next inner">
	{% if page.previous %}
	<div><strong>上一篇： <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></strong></div>
	{% else %}
	<div><strong>上一篇： 这个真没有</strong></div>
	{% endif %}
	{% if page.next %}
	<div><strong>下一篇： <a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></strong></div>
	{% else %}
	<div><strong>下一篇： 这个可以有</strong></div>
	{% endif %}
  </div>
  </div>
</article>


<section class="post-footer-self-promotion inner">
	<p style="text-align:center;">
	Thanks for reading! Feel free to <a href="/blog">browse other articles on my blog</a>.
	</p>
  
</section>

<div class="separator"></div>

<section class="comments inner">

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}/{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"nathanlvzs"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

</section>
