---
layout: default
---

<!-- {% if page.read != true %} -->
<!--添加侧边菜单-->
<link rel="stylesheet" href="{{site.url}}/css/side-menu.css" />
 <style>
        .side-menu {
            width: 200px;
            top: 150px;
            left: 80px;
        }
 </style>
<script type="text/javascript" src="{{site.url}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/js/jquery.side.menu.js"></script>
<script>
$(function () {
            $('#main').sideMenu({
                hs: ['h2']
            });
        });
</script>
<!-- <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
                    tex2jax: {inlineMath: [['$','$']]}
                            });
</script>-->
<!-- , ['\\(','\\)'] -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!-- {% endif %} -->

{% if page.photo %}
<div class="post-photo" style="background-image: url('/images/posts/{{ page.photo }}')">

</div>
{% endif %}

<article>
  <h1 class="inner">
    {{ page.title }}
  </h1>

  <p class="meta">{{ site.author.name }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ page.date | date: "%A %-d %B %Y" }}</p>
  
  <div id="menu"></div>
  <div id="main" class="span9">
  <div class="post">
    {{ content }}
  </div>
  <p></p>
  <div class="prev_and_next inner">
	{% if page.previous %}
	<div><strong>上一篇： <a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></strong></div>
	{% else %}
	<div><strong>上一篇： 这个真没有！！！</strong></div>
	{% endif %}
	{% if page.next %}
	<div><strong>下一篇： <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></strong></div>
	{% else %}
	<div><strong>下一篇： 这个真没有！！！</strong></div>
	{% endif %}
  </div>
  </div>
</article>


<section class="post-footer-self-promotion inner">
	<p style="text-align:center;">
	Thanks for reading! You can follow 
	<a href="{{ site.twitter }}" target="_blank">my twitter </a>
	or 
	<a href="http://weibo.com/destinylzs" target="_blank">my weibo</a>.
	<br/>
	Feel free to <a href="/blog">browse other articles on my blog</a>.
	</p>
	
	<!-- <p>
	<form action="http://saunier.us8.list-manage.com/subscribe/post?u=3e666bd315f84f1bbdfe80c3b&amp;id=0494cf26c5" method="post"target="_blank">
	  <input type="email" class="form-control" name="EMAIL" placeholder="Enter your email address"
		><input type="submit" value="Subscribe to my newsletter" >
	</form>
	</p> -->

	<!-- <div id="more-articles">
	  {% if has_res %}
		<p>Since you scrolled this far, you might as well take a look at some other things I wrote !</p>
		<ul>
		  {{ res }}
		</ul>
		<p>
		  ... or <a href="/blog">some other article</a> from my blog.
		  Oh and I also take <a href="/photos">pictures</a>!
		</p>
	  {% endif %}
	</div> -->
  
</section>

<div class="separator"></div>

<section class="comments inner">

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}/{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"nathanlvzs"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

</section>
